.home{

}

.title{
    height: 8vh;
}

.add,
.export{
    padding-inline: 1rem;
    padding-block: 0.3rem;
    border-radius: 6px;
}

.add{
    background-color: var(--background-btn);
    border: none;
    color: white;
}

.export{
    border: 1px solid #dcdfe3;
    background-color: transparent;
    color: #b7bec8;
}

.filter-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.filter-alpha{
    background-color: #eaebee;
    border: none;
    border-radius: 4px;
    padding-block: 0.5rem;
    padding-inline: 0.7rem;
    transition: 0.3s all;
}

.active-alpha{
    background-color: var(--background-btn);
    color: white;
}

.filter-alpha:hover{
    background-color: var(--background-btn);
    color: white;
}

.filter-con{
    min-height: 4vh;
    max-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:5px;
    border: 1px solid var(--background-btn);
    background-color: #fdf2f2;
    color: var(--background-btn);
}

.custom-select{
    height: 80%;
    border: 1px solid var(--background-btn);
    max-width: fit-content;
}

.filter-apply{
    background-color: var(--background-btn);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    transition: all 0.3s;
}
.filter-reset{
    background-color: white;
    color: var(--background-btn);
    border: 1px solid var(--background-btn);
    border-radius: 4px;
    transition: all 0.3s;
}

.filter-reset:hover{
    background-color: var(--background-btn);
    color: white;
}

.filter-apply:hover{
    background-color: white;
    color: var(--background-btn);
    border: 1px solid var(--background-btn);
}


.display-con{
    background-color: white;
    box-shadow: 0px 1px 4px 1px #d8d6d6;
}

.common-btn{
    background-color: var(--background-btn);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    transition: all 0.3s;
}

.font-header{
    font-size: 1.3vw;
}

.font-p{
    font-size: 1vw;
}

.header{
    background-color: #f6f6f7;
    height: 5.3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #d6d5d5;
}

.th{
    color: #222a38;
    font-size: 0.7vw;
    display: flex;
    align-items:baseline;
}

.fil-ic{
    cursor: pointer;
    margin-left: 5px;
    max-height: 10px;
}

.td{
    color: black;
    font-size: small;
}

.emp{
    font-weight: 600;
    height: 5.3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #d6d5d5;
}

.emp-pic{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.font-email{
    color:#72757a;
}

.active-status{
    color: green;
    background-color: #e7f4e8;
    padding: 5px;
    display: flex;
    justify-content: center;
    max-width: 4rem;
    border-radius: 5px;
}

.inactive{
    color: red;
    background-color: #fae7e7;
    padding: 5px;
    display: flex;
    justify-content: center;
    max-width: 4rem;
    border-radius: 5px;
}